.health-worker-form{
    width: 70vw;
    height: 95vh;
    margin-left: 15%;
    margin-top: 2%;
    background-color: #ffffff;
    padding: 1em;
}
.left-side{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.right-side{
    display: flex;
    flex-direction: column;
    width: 45%;
}
input, select {
    background-color: #f4f4f4;
    padding: .3em ;
    border: 1px solid #0000001e;
    height: 4vh;
}
option{
    background: #ffffff;
    color: #000000;
}
label {
    margin-top: 3%;
    font-size: .7em;
    padding-bottom: .3em;
    display: flex;
    justify-content: flex-start;
    color: #1d1d1d99;
}
.register{
    background: #201A56;
    color: #ffffff;
    padding: .5em;
    border: none;
    border-radius: 5px;
    margin: 5% 0 0 43%;
    width: 15%
}
.inner{
    display: flex;
    justify-content: space-around;
}
