.form{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 5%;
    background: #ffffff;
    width: 58%;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    padding: 1.5em;
}
.n-input{
    width: 55vw;
}
.n-button{
    color: #ffffff;
    background: #201A56;
    width: 20%;
    height: 5vh;
    margin: 5% 0 0 15%;
    border: none;
    border-radius: 5px;
}
