.password-form{
    margin-left: 37%;
    margin-top: 15%;
    background: #ffffff;
    width: 30%;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    padding: 1.5em;
}
.account{
    margin: 5% 0 0 27%;
}
.login-link{
    margin-left: 5%;
}
