.sidebar{
    background: #201a56;
    height: 100vh;
    width: 18vw;
    padding: 1em;
}
.h2 {
    font-family: 'Nunito', sans-serif;
    margin-top: 10%;
    padding-bottom: 1.5em;
    text-align: center;
    color: #ffffff !important;
}
.link{
    color: #ffffff !important;
}
.profile-card{
    background: white;
    border: 1px solid #201A56;
    border-radius: 5px;
    width: 10vw;
    height: 7vh;
    padding: .2rem 1.5rem;
    position: relative;
    top: 30%;
    left: 5%;
}
.info-box{
    display: none;
    flex-direction: column;
    background: white;
    border: .5px solid #201A56;
    border-radius: 8px;
    margin-left: -30%;
    width: 10vw;
    height: 10vh;
    padding: .2rem 1.5rem;
    margin-top: -120%;
}
.profile-card img{
    height: 5vh;
    margin: 3% 0 0 30%;
}
.profile-link{
    color: #000000;
    margin-top: 5%;
    text-decoration: none;
}
.profile-link:hover{
    color: #000000;
    background-color: #0000001e;
}