.health-worker-table{
    margin-left: 20%;
    background: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.total-card{
    margin: 3% 0 0 20%;
    background: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 1em;
    width: 20vw;
    height: 17vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
th, td {
    padding: .5em;
}
th{
    background-color: #0000001e;
}
.create-worker{
    margin: 5% 0 1% 73%;
    color: #ffffff;
    background-color: #201a56;
    border: none;
    border-radius: 5px;
    height: 5vh;
}
.link{
    color: #ffffff;
}
.link:hover{
    text-decoration: none;
    color: #ffffff;
}
.view-details{
    border: none;
    border-radius: 5px;
    background: #201a56;
    color: #ffffff;
    height: 6vh;
    width: 10vw;
}
.bg-modal, .suspend-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: auto;
}
.close-form{
    position: absolute;
    top: 4%;
    right: 16%;
    font-size: 2rem;
    transform: rotate(45deg);
    cursor: pointer;
}
